#!/usr/bin/make -f

KEYRING=64studio-archive-keyring.gpg
KEY=64studio-archive-keyring.gpg.asc

%:
	dh $@

$(KEYRING): keyrings/$(KEY)
	gpg --no-permission-warning --homedir $(CURDIR)/keyrings --no-default-keyring --keyring $(CURDIR)/keyrings/$@.tmp --import $<
	gpg --no-permission-warning --homedir $(CURDIR)/keyrings --no-default-keyring --keyring $(CURDIR)/keyrings/$@.tmp --export --output $(CURDIR)/keyrings/$@

override_dh_auto_build: $(KEYRING)

override_dh_auto_clean:
	rm -rf *.gpg *.gpg~ *.gpg.tmp
	rm -rf keyrings/*.gpg keyrings/*.gpg~ keyrings/*.gpg.tmp
